/*    ==Parâmetros de Script==

    Versão do Servidor de Origem : SQL Server 2012 (11.0.2218)
    Edição do Mecanismo de Banco de Dados de Origem : Microsoft SQL Server Enterprise Edition
    Tipo do Mecanismo de Banco de Dados de Origem : SQL Server Autônomo

    Versão do Servidor de Destino : SQL Server 2017
    Edição de Mecanismo de Banco de Dados de Destino : Microsoft SQL Server Standard Edition
    Tipo de Mecanismo de Banco de Dados de Destino : SQL Server Autônomo
*/
USE [RECEPCAO]
GO
/****** Object:  Table [dbo].[PepRelatorios_permissoesOld]    Script Date: 28/08/2017 10:37:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PepRelatorios_permissoesOld](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_REL] [int] NULL,
	[ID_USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PepRelatorios_permissoesOld] ON 

INSERT [dbo].[PepRelatorios_permissoesOld] ([ID], [ID_REL], [ID_USUARIO]) VALUES (48, 1, 3724)
INSERT [dbo].[PepRelatorios_permissoesOld] ([ID], [ID_REL], [ID_USUARIO]) VALUES (49, 2, 3724)
INSERT [dbo].[PepRelatorios_permissoesOld] ([ID], [ID_REL], [ID_USUARIO]) VALUES (50, 7, 3724)
GO
SET IDENTITY_INSERT [dbo].[PepRelatorios_permissoesOld] OFF
